body{
    font-family: 'Happy Monkey', cursive;
}
.container{
    margin: auto;
    width: 800px;
    padding: 0 50px;
    /* border: solid 1px black; */
    box-shadow: 30px 0px 20px grey, -30px 0px 20px grey;    
}
p, li{
color: #707070;
}
header{
    text-align: center;
}
h1{
  color: #DB0038;  
}
h2{
    color: #3998A3;
}
h3{
    color: #474747;
}
.hero{
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 10px;
}
li{
    padding: 5px 0px;
}
span{
color: #F4B400;
font-size: 25px;
}
footer{
    text-align: center;
}
