div{
    padding :20px; width:100px; height:150px; background:yellow; display:block; text-align:right;"></h1>Bill almost achieved his goal of being a millionaire by the age of 30. He became a millionaire at 31.</ >

#position{
    position: absolute;
    top:0px;
    left:500px;
    botton:20px solid black;
}